.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #24134A;
}
.contact-col h3{
    color:#24134A;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col h3 h2{
    display: flex;
    margin-left: 10px;
    height: 30px;
    width: 35px;
    gap: 10px;
}
.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}
.contact-col ul li h2{
    width: 25px;
    margin-right: 10px;
}
a:hover{
    border-bottom: 2px solid #24134A;
}
.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}
.contact-col span{
    display: block;
    margin: 20px 0;
}
/* --------------media query---------------- */

@media (max-width: 700px) {
    .contact{
        display: block;
    }
    .contact-col{
        padding: 20px;
    }
    .contact form input, .contact form textarea{
        width: 100%;
    }
}


